// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-btn {
    border: solid;
    text-align: center;
    //right: 10px
    margin: 1px;
    padding: 1px;
    width: 80px;
    height: 25px;
    background: yellow;
}
